
Assistente Técnico em TI/Fundamentos Tecnologia da Informação/Excel/Provas/Gabriel Schweder Piske - Atividade avaliativa - operações matemáticas, formatações, fórmulas SOMA, MÁXIMO, MÍNIMO, MÉDIA, SOMASE, CONT.SE e gráficos.xlsx
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSort/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSort/build/
