
Assistente Técnico em TI/Fundamentos Tecnologia da Informação/Excel/Provas/Gabriel Schweder Piske - Atividade avaliativa - operações matemáticas, formatações, fórmulas SOMA, MÁXIMO, MÍNIMO, MÉDIA, SOMASE, CONT.SE e gráficos.xlsx
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSort/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSort/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSortLetras/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSortLetras/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JogodaNave/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JogodaNave/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JogodaNave/dist/
/SigMenu_GabrielPiske/nbproject/private/
/SigMenu_GabrielPiske/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/helloWorld/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/helloWorld/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/helloWorld/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/calcBasica/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/calcBasica/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/Conversão/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/Conversão/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/Conversão/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Conversão/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/IntroducaoTelaJOptionPane/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/IntroducaoTelaJOptionPane/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/IntroducaoTelaJOptionPane/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades JOptionPane/AtividadesJOptionPane/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades JOptionPane/AtividadesJOptionPane/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Mensagens/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Mensagem/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Calculadora Com Funções/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Calculadora Com Funções/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Vetores/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Matrizes/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Matrizes/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Vetores/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Vetores_e_Matrizes/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Vetores_e_Matrizes/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Vetores_e_Matrizes/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Pilha/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Pilha/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/AppLocadora/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/AppLocadora/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/AppLocadora/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/PilhaNumeros/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/PilhaNumeros/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/PilhaNumeros/dist/
/Programador de Sistemas da Informação/Lógica de Programação/Java/PrimeiraAplicacao/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/PrimeiraAplicacao/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Fila/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Fila/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Fila/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/FilaNomes/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/FilaNomes/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/FilaNomes/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Lista/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Lista/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/AppBanco/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/AppBanco/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/AppBanco/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Pilha_Stack/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Pilha_Stack/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Pilha_VerificadorNumeros/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Pilha_VerificadorNumerico/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Pilha_VerificadorNumerico/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/FilaQUEUE/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Fila_Priority/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Lista_ArrayList/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/GerenciadorContas/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/GerenciadorContas/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/GerenciadorContas/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividade2/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividade2/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividade4/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividade4/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/MatrizVetor_Atividade2/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/MatrizVetor_Atividade2/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade1/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade2/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade3/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade3/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade3/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade4/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade4/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade4/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Fila_Atividade5/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Lista_Atividade1/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Lista_Atividade1/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividades Recuperação Paralela/Atividade3/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividades Recuperação Paralela/Atividade3/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividades Recuperação Paralela/Lista_Atividade2/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividades Recuperação Paralela/Lista_Atividade2/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividade3/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Atividade3/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Lista_Atividade2/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Lista_Atividade2/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/MatrizVetor_Atividade1/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/MatrizVetor_Atividade1/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade1/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade1/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade2/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade2/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade3/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade3/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade3/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade4/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade4/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/ClasseCarro/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/ClasseCarro/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/Atividades_Recuperação/Pilha_Atividade4/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/AppBanco/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/AppBanco/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/AppGeometrico/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/AppGeometrico/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/ImportacaoTxt/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/ImportacaoTxt/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/ClasseCarro/dist/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/PrimeiroForm/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/PrimeiroForm/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/PrimeiroForm/dist/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/CadastroCliente/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/CadastroCliente/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/ExportacaoPizza/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/ExportacaoPizza/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/ExportacaoPizza/dist/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppCalc/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppCalc/build/
/Programador de Sistemas da Informação/Lógica de Programação/Modelagem/Tela/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Modelagem/Tela/build/
/Técnico em Desenvolvimentos de Sistemas/Modelagem de Sistemas/Projetos/AutoPeca/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Modelagem de Sistemas/Projetos/AutoPeca/build/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/PA-Aula1/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/PA-Aula1/build/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/PA-Aula1/dist/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/Calc/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/Calc/build/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/Calc/dist/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppCodeFrom/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppCodeFrom/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppDesignForm/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppDesignForm/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppCodeFrom/dist/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppCadMenuDAO_aula/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppCadMenuDAO_aula/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppTabbed/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppTabbed/build/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/BlocoDeNotas/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/BlocoDeNotas/build/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/AgendaDeContatos/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Programação de Aplicativos/AgendaDeContatos/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JFrame/AppTabbed/dist/
