
Assistente Técnico em TI/Fundamentos Tecnologia da Informação/Excel/Provas/Gabriel Schweder Piske - Atividade avaliativa - operações matemáticas, formatações, fórmulas SOMA, MÁXIMO, MÍNIMO, MÉDIA, SOMASE, CONT.SE e gráficos.xlsx
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSort/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSort/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSortLetras/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/insertionSortLetras/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JogodaNave/nbproject/private/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JogodaNave/build/
/Programador de Sistemas da Informação/Lógica de Programação/Java/JogodaNave/dist/
/SigMenu_GabrielPiske/nbproject/private/
/SigMenu_GabrielPiske/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/helloWorld/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/helloWorld/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/helloWorld/dist/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/calcBasica/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Java/calcBasica/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/Conversão/nbproject/private/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/Conversão/build/
/Técnico em Desenvolvimentos de Sistemas/Lógica de Programação/Desafios/java/Conversão/dist/
