<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Detalhes do Produto</h1>
        <p><strong>ID:</strong> <span th:text="${id}"></span></p>
        <p><strong>Produto:</strong> <span th:text="${produto}"></span></p>
        <p><strong>Preço:</strong> <span th:text="${preco}"></span></p>
        <p><strong>Quantidade:</strong> <span th:text="${quantidade}"></span></p>
        <p></p>
    </div>
</body>
</html>