<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <!-- th:action define a URL de destino para o envio -->
    <!-- th:object vincula o formulário ao objeto "produto" -->
    <form th:action="@{/produto/salvar}" th:object="${produto}" method="post" enctype="multipart/form-data">

        <!-- th:field vincula o campo ao ID do produto para edição -->
        <input type="hidden" th:field="*{id}">

        <label for="name">Nome:</label>
        <!-- th:field associa o campo de entrada ao atributo "nome" do "produto" -->
        <input type="text" th:field="*{nome}" id="nome" required> <br>

        <label for="descricao">Descrição:</label>
         <!-- th:field associa o campo de texto ao atributo "descricao" do "produto" -->
        <textarea th:field="*{descricao}" id="descricao" required></textarea> <br>

        <label for="preco">Preço:</label>
        <!-- th:field associa o campo de entrada ao atributo "preco" do "produto" -->
        <input type="number" step="0.01" th:field="*{preco}" id="preco" required> <br>

        <label for="quantidade">Quantidade:</label>
        <!-- th:field associa o campo de entrada ao atributo "quantidade" do "produto" -->
        <input type="number" th:field="*{quantidade}" id="quantidade" required> <br>

        <label for="categoria">Categoria:</label>
        <!-- th:field associa o campo de entrada ao atributo "categoria" do "produto" -->
        <input type="text" th:field="*{categoria}" id="categoria" required> <br>

        <label for="fornecedor">Fornecedor:</label>
        <!-- th:field associa o campo de entrada ao atributo "fornecedor" do "produto" -->
        <input type="text" th:field="*{fornecedor}" id="fornecedor" required> <br>

        <label for="imagem">Imagem:</label>
        <input type="file" name="imagem" id="imagem"> <br>

        <button type="submit">Salvar</button>
    </form>
    <a href="/listar">Cancelar</a>
</body>
</html>