<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/list.css">
    <title>lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Imagem</th>
            <th>Ações</th>
        </tr>
        <!-- th:each itera sobre a lista de produtos -->
        <tr th:each="produto : ${produto}">
            <td th:text="${produto.id}"></td> <!-- Exibe o ID do produto -->
            <td th:text="${produto.nome}"></td> <!-- Exibe o nome do produto -->
            <td th:text="${produto.descricao}"></td> <!-- Exibe a descrição do produto -->
            <td th:text="${produto.preco}"></td> <!-- Exibe o preço do produto -->
            <td th:text="${produto.quantidade}"></td> <!-- Exibe a quantidade do produto -->
            <td th:text="${produto.categoria}"></td> <!-- Exibe a categoria do produto -->
            <td th:text="${produto.fornecedor}"></td> <!-- Exibe o fornecedor do produto -->
            <td>
                <!-- th:src gera a URL para a imagem do produto com base no ID -->
                <img th:src="@{/produto/imagem/{id}(id=${produto.id})}" alt="Imagem do Produto" class="produto-imagem">
            </td>
            <td>
                <div class="acao">
                    <!-- th:href gera o link para a página de edição do produto com o ID -->
                    <a th:href="@{/produto/editar/{id}(id=${produto.id})}">
                        <button type="button" class="edit">Editar</button>
                    </a>

                    <!-- th:action define a URL para deletar, usando o ID do produto -->
                    <form th:action="@{/produto/deletar/{id}(id=${produto.id})}" method="post">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?')" 
                        class="del">Deletar</button>
                    </form>
                </div>
            </td>
        </tr>
    </table> <br>
    <!-- th:href gera o link para a página de cadastro -->
    <a th:href="@{/cadastrar}">
        <button type="button">Cadastrar Novo Produto</button>
    </a>
</body>
</html>