* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 2%;
    font-family: Montserrat;
    gap: 3%;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background-color: rgb(245, 238, 229)
}

h1 {
    margin-bottom: 20px;
}


.container-1 {
    display: flex;
    width: 600px;
    height: 95%;
    flex-direction: column;
    padding: 2%;
    border: 1px solid #3f3e3e;
    border-radius: 10px;
}

.container-2 {
    display: flex;
    width: 600px;
    height: 95%;
    flex-direction: column;
    padding: 2%;
    border: 1px solid #3f3e3e;
    border-radius: 10px;
}

.container-3 {
    display: flex;
    width: 600px;
    height: 95%;
    flex-direction: column;
    padding: 2%;
    border: 1px solid #3f3e3e;
    border-radius: 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(16, 30px); /* 16 colunas */
    grid-template-rows: repeat(16, 30px); /* 16 linhas */
    gap: 1px; /* Espaço entre as células */
    margin-bottom: 20px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.cell.ship {
    background-color: #4CAF50; /* Cor para os barcos */
}

button{
    padding: 10px;
    background-color: #3f3e3e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Montserrat;
}

button:hover{
    background-color: #636060;
}

.title {
    background-color: #e0e0e0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cell[data-row="0"], .cell[data-col="0"] {
    background-color: #67508d;
    font-weight: bold;
}